<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Категории</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesHeader.css"/>
</head>
<body>
<div class="childHead">
    <header th:insert="bloks/header :: header"/>
</div>
<div class="imgCategory" >
    <a href="/catalogy/1"><img src="../../static/../css/img/category/igr.jpg"></a>
    <a href="/catalogy/2"> <img src="../../static/../css/img/category/podbox.jpg"></a>
</div>

</body>
</html>