<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ввод данных</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesHeader.css"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="childHead">
    <header th:insert="bloks/header :: header"/>
</div>
<div class="container mt-5">
    <h1>Введите данные</h1>
    <form id="formUser" action="/regUser/${id}/reg/" method="post">
        <input type="text" name="firstname" placeholder="Введите имя" class="form-control"></br>
        <input type="text" name="lastname" placeholder="Введите фамилию" class="form-control"></br>
        <input type="text" name="address" placeholder="Введите адрес" class="form-control"></br>
        <input type="text" name="email" placeholder="Введите email" class="form-control"></br>
        <button type="submit" class="btns">Заказать</button>
    </form>
</div>
</body>
</html>