<div th:fragment="block-product-one">
    <div class="container-head">
        <ul class="products clearfix">
            <li class="product-wrapper" style="display: block; width: 100%; float: left; transition: width .2s;">
                <a href="" class="product" style=" display: block; border: 1px solid #b5e9a7; border-radius: 3px; position: relative; background: #fff; margin: 0 20px 20px 0; text-decoration: none; color: #474747; z-index: 0; height: 300px;"></a>
            </li>
        </ul>
    </div>
</div>
